<div >
    <header>
        My Bookings
    </header>
</div>
<div class="text-center">
</div><br>
<form  class="form-group" >
    <h3><span> Login</span></h3><br>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Email Id" >
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder=" Password">
        
    </div>
    <button type="button" class="btn btn-primary btn-block" routerLink="/dashboard">Login</button>
</form>
<footer>
    <div>
        <img src="\assets\per.png" class="logo" align="left" >
        <span  class="text-logo"> Privacy Notice | Cookie Policy | Terms of Use © 2021 Persistent Systems</span>
    </div>
</footer>